.opponent-transition-delay {
  transition: .2s all 2s;
}

.opponent-atk-display-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opponent-stats-label {
  top: 2.6rem;
  position: absolute;
}

.opponent-atk-display-label {
  right: 0;
}

@media (max-width: 800px) {
  .opponent-side {
    .buttons {
      z-index: 10;
      top: calc(3.6rem + (((100% - 3.6rem) / 2) - (1.6rem / 2)));  
    }  
  }
  .opponent-card {
    top: calc(3.6rem + (((100% - 3.6rem) / 2) - (9rem / 2)));
    
    &:nth-child(1) {
      left: calc(40% - 4rem);
    }
    &:nth-child(2) {
      left: calc(45% - 4rem);
    }
    &:nth-child(3) {
      left: calc(50% - 4rem);
    }
    &:nth-child(4) {
      left: calc(55% - 4rem);
    }
    &:nth-child(5) {
      left: calc(60% - 4rem);
    }
  }
}